<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
</head>
<body>
    <form>
        <label for="Enter Email ID">Enter Email ID:</label>
        <input type="email" name="" id="email">
        <input type="button" id="retrievePassword" value="Retrieve Password">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="../script/forgotPassword.js"></script>
</body>
</html>