<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../public/index.css">
</head>
<body>
<div class="form"> 
    <div class="title"> 
        <H3>Calculate Your Expenses</H3>
    </div>
    <div class="login">
        <label for="">If already a member Click To</label>
        <input id="login" type="button" value="Login">
    </div>
    <div class="register">
        <label for="">New Member, Click To</label>
        <input id="register" type="button" value="Register">
    </div>
</div>
<script>
document.getElementById('login').addEventListener('click',()=>{
    window.location.href='./login.html'
})
document.getElementById('register').addEventListener('click',()=>{
    window.location.href='./signUp.html'
})
</script>
</body>
</html>