
.table{
    text-align: center; 
    align-items: center;
  }  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.download{
  border: 1px solid burlywood;
  background-color: rgba(54, 196, 59, 0.675);
  color:black;
  margin: 8px;
  padding: 1rem;
}
.download :hover {
  cursor: pointer;
  background-color: black;
  color: rgba(54, 196, 59, 0.675);;
  
}

.pagination{
  margin-top: .8rem;
  align-items: center;
  justify-content: center;
}
.pagination button{
  margin-left: .5rem;
  border: 1px solid rebeccapurple;
}

.pagination button:hover,
.pagination button:active{
  background-color: white;
  color: rebeccapurple;
}

.itemsPerPage{
    margin-bottom: .5rem;
    text-align: center;
}

.itemsPerPageOptions{
    padding: .50rem;
    border-radius: .5rem;
  
}